* {
    padding: 0;
    margin: 0;
    font-family: Cambria, serif;
    font-size: 24px;

}

header{
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgb(166, 244, 255);
  

}

a{
    top: 4%;
    left: 10%;
    position: absolute;
    background-color: azure;
    border: 1px solid;
    display: center;
    background-color: rgb(225, 193, 253);
    color: rgb(27, 0, 182);
    border-radius: 20px;
    padding: 6px;
    text-decoration: none;
}

a:hover{
    background-color: rgb(166, 186, 221);
}


section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}



body{
  
    background:rgb(166, 186, 221);
}

.container { 
    text-align: center; 
    
}

input{
    color: black;
    font-size: 30px;
    border-radius: 20px;
}

form input, form text{
    outline: unset;
    padding: 10px;
    width: 300px;
    border: 1px solid cornflowerblue;
    border-radius: 20px;
    
}
form input:focus,form textarea:focus{
    background-color: rgb(166, 244, 255);
}
button{
    border-radius: 10px;
    border: 1px solid cornflowerblue;
    padding: 5px;
}
button:hover{
    background-color: rgb(166, 244, 255);
    
}



/*
a:link {
    color: currentColor;

 }
 
  link que foi visitado 
 a:visited {
    color: currentColor;
 }

 /* link selecionado 
 a:active {
     color: currentColor;
 }

 <tr>
                <td>codigo1</td>
                <td>nome</td>
                <td>preco3</td>
                <td>quantidade</td>
               
            </tr>
*/

